body {
    background: #124567;
}

.holder {
    max-width: 50%;
    margin: 25vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background: #ccc;
    border-radius: 10px;
}

#header-shape-gradient {
    /* --color-stop: #f12c06;
    --color-bot: #faed34; */
}

g#end,
g#start,
g#end2,
svg {
    transition: all 1s ease-in-out;
}

svg {
    width: 300px;
    height: 300px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

svg g#end {
    transform: translateX(-110%);
    border: 1px solid red;
    fill: url(#header-shape-gradient);
    /* filter: url(#shadow); */
}

/* svg.second:hover g#start {
    transform: translateX(-5%);
} */

svg:hover {
    filter: drop-shadow(10px 12px 2px rgb(0 0 0 / 0.4));
    transform: scale(1.05, 1.05);
}

svg:hover g#end2 {
    transform: translateX(100%);
    opacity: 0;
}
svg:hover g#end {
    transform: translateX(0%);
}
