body {
    background: #124567;
}

.holder {
    max-width: 50%;
    margin: 25vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background: #ccc;
    border-radius: 10px;
}

g#finish,
g#begin,
g#finish2 {
    transition: all 1s ease-in-out;
}

svg {
    width: 300px;
    height: 300px;
}

svg g#finish {
    transform: translateX(-100%);
    fill: #124567;
}

/* svg.second:hover g#start {
    transform: translateX(-5%);
} */
svg:hover g#finish2 {
    transform: translateX(100%);
    opacity: 0;
}
svg:hover g#finish {
    transform: translateX(0%);
}
